@import '~normalize.css';
@import "variables";
@import "animations";

*, :after, :before {
  box-sizing: border-box;
}

body {
  background: var(--bg-color-body);
  color: var(--color-base);
  font-family: Arial, sans-serif;
  margin: 0;
}
